# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
models/bge_model/*
models/my_bge_model/*
models/my_bge_model.zip

# Data & models
data/raw/*
data/processed/*
!data/.gitkeep
reports/*

# OS/editor
.DS_Store
.vscode/